xinu-emulator/compile
xinu-emulator/config
xinu-galileo/compile
xinu-galileo/config
xinu-x86/compile
xinu-x86/congfig
.DS_Store
Remote-Disk-Server/*
Remote-File-Server/*
!Remote-Disk-Server/*.h
!Remote-Disk-Server/*.c
!Remote-Disk-Server/Makefile
!Remote-Disk-Server/DESIGN
!Remote-Disk-Server/MESSAGE-FORMATS
!Remote-File-Server/Makefile
!Remote-File-Server/*.c
!Remote-File-Server/*.h
